header {
    width: 100%;
    height: 120px;
    position: relative;
    overflow: hidden;
}
header > a > img {
    width: 100%;
    height: 100%;
    position:absolute;
    left: 0;
}
/* 
广告：
    形状：
        宽度：100%
        高度：120px
        超出：隐藏
        填充：
            图片：继承宽高
*/

.mi-nav {
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #333;
    font-size: 12px;
}
/* 
导航栏：
    形状：
        宽度：响应浏览器
        高度：40px
    字体：
        大小：12px
        定位：垂直居中
*/

.mi-nav .mi-nav-container { 
    width: 1266px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* 
导航两部分列表：
    左+右：
        宽度：1266px
        定位：水平居中+垂直居中
        内容：
            贴两边+间隙相等
*/

.mi-nav .mi-nav-container > ul { 
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* 
列表：
    定位：
        垂直居中
    内容：
        贴两边+间隙相等
*/

.mi-nav .mi-nav-container > ul > li a {
    color: #b0b0b0;
}
/* 
列表中一级超链接：
    颜色：
        灰色
 */

.mi-nav .mi-nav-container > ul > li span {
    color: #424242;
    margin: 0 3.6px;
}
/* 
列表中一级span：
    颜色：
        黑色
    间距：
        水平：
            3.6px
*/

.mi-nav .mi-nav-container > ul > li{
    position: relative;
}
/* 
列表中一级li：
    定位：
        相对定位
    说明：
        可使下一级元素相对于此元素定位
 */

.mi-nav .mi-nav-container > ul > li .pointer {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -8px;
    width: 0;
    height: 0;
    border-bottom: 8px solid #fff;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    display: none;
    z-index: 1;
}
/* 
引导标志：
    说明：
        根据父元素定位--“position: absolute;”
        定位形状于父元素底部--“bottom: 0;”
        去除继承形状--“width: 0;height: 0;”
        绘制长为16px，高为8px到等腰三角形--“border-bottom: 8px solid #fff;border-left: 8px solid transparent;border-right: 8px solid transparent;”
        水平居中于父元素--“left: 50%;margin-left: -8px;”
        暂时隐藏--“display: none;”
        与下方举行看起来没有割裂--“z-index: 1;”
*/

.mi-nav .mi-nav-container > ul > li:hover .pointer {
    display: block;
}
/* 
引导标志：
    说明：
        鼠标移入导航栏的“下载APP”时，显示一个向下的箭头--"display: block;"
*/

.mi-nav .mi-nav-container .mi-nav-left .downloadAPP {
    position: absolute;
    left: 50%;
    top: 40px;
    margin-left: -62px;
    overflow: hidden;
    width: 124px;
    height: 0;
    background: #fff;
    box-shadow: 0 1px 5px #aaa;
}
/* 
小米商城二维码占位符：
    背景色：
        白色
    宽：
        124px
    高：
        148px（暂时隐藏）
    阴影：
        水平：
            0px
        垂直：
            1px
        模糊：
            5px
        颜色：
            #aaa
    说明：
        根据父元素定位--"position: absolute;"
        将占位符紧贴父元素水平居中--"left: 50%; top: 40px; margin-left: -62px;"
*/

.mi-nav .mi-nav-container .mi-nav-left li:hover .downloadAPP{
    height: 148px;
}
/* 
小米商城二维码占位符：
    说明：
        鼠标移入导航栏的“下载APP”时，显示占位符以及其中内容--"height: 148px;"
*/

.mi-nav .mi-nav-container .mi-nav-left .downloadAPP img{
    width: 90px;
    margin: 10px auto 0; 
}
/* 
二维码：
    宽：
        90px
    说明：
        留点上边距使页面有呼吸感同时为下方文字留空间--“margin: 10px auto 0;”
*/

.mi-nav .mi-nav-container .mi-nav-left .downloadAPP p {
    color: #333;
    font-size: 12px;
    line-height: 12px;
}
/* 
二维码说明：
    文字颜色：
        #333
    文字大小：
        12px
    行高：
        12px
*/

.cart {
    width: 120px;
    height: 40px;
    background-color: #424242;
    margin-left: 25px;
}
/* 
购物车：
    宽：
        120px
    高：
        40px
    背景颜色：
        #424242
    左边距：
        25px
*/

.cart:hover {
    background-color: #fff;
}
/* 
购物车：
    说明：
        鼠标移入时，背景颜色改为白色--“background-color: #fff;”
*/

.cart:hover > a > i {
    color: #FF6700;
}
/* 
购物车内的文字：
    颜色：
        #FF6700
*/

.cart i {
    font-style: normal;
    margin-right: 8px;
}
/* 
购物车内的文字：
    斜体：
        无
    右边距：
        8px
*/

.cart-list {
    width: 316px;
    height: 0;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    position: absolute;
    right: 0;
    top: 40px;
    overflow: hidden;
    color: #424242;
    line-height: 100px;
}
/* 
购物车内容：
    宽度：
        316px
    高度：
        100
    背景颜色：
        #fff
    阴影：
        水平：
            无
        垂直：
            2px
        模糊：
            10px
        颜色：
            黑色、15%透明度
    右边距：
        0
    上边距：
        40px
    颜色：
        #424242
    说明：
        当鼠标移入购物车时，购物车内容显示，但先隐藏--“overflow: hidden;”
*/

.cart:hover > .cart-list {
    height: 100px;
}
/* 
购物车内容：
    说明：
        悬停时显示
*/

.mishop-nav {
    width: 100%;
    height: 100px;
    background-color: #fff;
    position: relative;
}
/* 
小米商城导航栏：
    宽：
        响应浏览器宽度
    高：
        100px
    背景颜色：
        #fff
    说明：
        为下一级元素定位作参照
*/

.mishop-nav-container {
    width: 1266px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* 
小米商城导航栏版心：
    宽度：
        1266px
    高度：
        100px
    定位：
        水平：
            居中
        内容：
            水平：
                等距
            垂直：
                居中
*/
.logo {
    width: 55px;
    height: 55px;
    background-color: #ff6700;
    position: relative;
    border-radius: 10px;
}
/* 
小米交互图标占位符：
    宽度：
        55px
    高度：
        55px
    背景颜色：
        #ff6700
    圆角半径：
        10px
*/

.logo > img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    transition: all 0.2s;
}
/* 
小米交互图标：
    宽度：
        100%
    高度：
        100%
    位置：
        绝对定位
        上：0
    过渡：
        元素：
            同级及后代
        时间：
            0.2s
*/

.mi-logo { 
    left: 0;
}
.mi-home { 
    left: -55px;
}
.logo:hover > .mi-home { 
    left: 0;
}
.logo:hover > .mi-logo { 
    left: 55px;
}
/* 
图标交互：
    说明：
        当鼠标悬停于图标占位符时，图标会向左移动
*/


.mishop-nav > .mishop-nav-container > .nav-bar > ul {
    width: 875px;
    height: 100px;
    line-height: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
/* 
小米商城导航链接：
    宽：
        875px
    高：
        100px
    定位：
        垂直：
            居中
    说明：
        从左往右顺序弹性排列--“display: flex;justify-content: flex-start;”
*/

.mishop-nav > .mishop-nav-container > .nav-bar > ul > li > a {
    color: #333;
    padding: 0 10px; 
}
/* 
小米商城导航文字：
    文字颜色：
        #333
    内边距：
        水平：
            10px
        c垂直：
            0px
*/

.mishop-nav > .mishop-nav-container > .nav-bar > ul > li > a:hover {
    color: #ff6700;
}
/* 
小米商城导航文字：
    说明：
        鼠标移入时，文字颜色为#ff6700--”color: #ff6700;“
*/

.mishop-nav > .mishop-nav-container > .nav-bar > ul > li > a > img {
    display: block;
}
/* 
xmi商城导航图标：
    说明：
        行内元素转块级元素--“display: block;”
*/

.search {
    width: 296px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* 
小米商城搜索栏：
    宽：
        296px
    高：
        100px
    定位：
        水平：
            两边对齐
        垂直：
            居中
*/

.search input {
    width: 244px;
    height: 50px;
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
    padding: 0 10px;
    outline: none;
    border-right: 0;
}
/* 
搜索栏输入框：
    宽：
        244px
    高：
        50px
    边框：
        粗细：
            1px
        类型：
            实线
        颜色：
            #e0e0e0
    内边距：
        0 10px
    说明：
        隐藏多余行--“outline: none;”
        紧贴右边的元素--“border-right: 0;”
        计算元素的总宽度和总高度时，将 border（边框）和 padding（内边距）包含在设定的 width 和 height 之内--"box-sizing: border-box;"
*/

.search button {
    width: 52px;
    height: 50px;
    border: 1px solid #e0e0e0;
}
/* 
搜索栏搜索按钮：
    宽度：
        52px
    高度：
        50px
    边框：
        粗细：
            1px 
        样式：
            solid
        颜色：
            #e0e0e0;
*/

.search button:hover {
    background: #ff6700;
    color: #fff; 
}
/* 
搜索栏搜索按钮：
    说明：
        当鼠标移入时，按钮颜色变为#ff6700，文字颜色变为#fff--“background: #ff6700;color: #fff; ”
*/

.phone-list{
    width: 100%;
    height: 229px;
    background: #fff;
    border-top: 1px solid #eee;
    box-shadow: 0 3px 4px rgba(0,0,0,0.3);
    position: absolute;
    left: 0;
    top: 100px;
    display: none;
}
.mi-phone:hover .phone-list{
    display: block;
}
/* 
滑动门：
    长：
        100px
    宽：
        响应浏览器
    背景色：
        #fff
    顶边框：
        粗细：
            1px
        样式：
            实线
        颜色：
            #eee
    阴影：
        水平：
            0px
        垂直：
            3px
        模糊：
            4px
        颜色：
            黑色+0.3透名度
    说明：
        紧贴mi-phone，放在mi-phone上时一整行用于显示--“position: absolute;left: 0;top: 100px;display: none;”
*/

.phone-list-container {
    width: 100%;
    height: 100%;
}
.phone-list-container > ul{
    width: 100%;
    height: 100%;
    margin-left: 150px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
/* 
579~512 行：
    为了使产品能够居中显示（为下一级做铺垫）
583～590 行：
    为了使产品能从左到右并居中显示
*/

.phone-list li{
    line-height: normal;
    border-right: 1px solid #eee;
}
/* 
根据元素的高度自适应行高--“ine-height: normal;”
右边线--“1px solid #eee;”
*/
.phone-list li .phone-name{
    font-size: 12px;
    color: #333;
}
/* 
产品名称：
    字体大小：
        12px
    颜色：
        #333
*/

.phone-list li .phone-price{
    font-size: 12px;
    color: #ff6700;
}
/* 
产品价格：
    字体大小：
        12px
    颜色：
        #ff6700
*/